@use "../../../assets/styles/colors" as c;
@use "../../../assets/styles/fonts" as f;
@use "../../../assets/styles/mixins" as *;

.result {
    width: 70%;
    margin: 1.875rem auto; //Центрирую блок по горизонтали
    padding: 1.875rem; // Отступы справа и слева
    padding-bottom: 50px;
    border-radius: 5.5rem;
    background-color: c.$bg-text;
    max-width: 100%; //максимальная ширина блока, чтобы он не выходил за пределы экрана
    box-sizing: border-box;
}

.result__title {
    text-align: center;
    font-family: f.$highlight-text;
    font-size: 3rem;
}

.result__info {
    display: flex;
    justify-content: space-around;
    font-family: f.$plain-text;
    font-size: 1.25rem;
}

//для экранов меньше 768px (mobile)
@media screen and (max-width: 768px) {
    .result {
        width: 75vh;
    }

    .result__title {
        font-size: 2rem;
    }

    .result__info {
        font-size: 1rem;
    }
}