@use '../../../assets/styles/colors' as c;
@use '../../../assets/styles/fonts' as f;
@use '../../../assets/styles/mixins' as *;

//Изображение персонажа
.character-img {
    border-radius: 3.063rem;
    max-width: 40%;
}

//Изображение на начальной странице загрузки
.cartoon-init {
    width: 60vh;
    z-index: 2;
    margin-bottom: -1.5rem; //
}